<br />
<h1>Agenda</h1>
<br />
<table id="tableau" border="2" cellpadding="10" cellspacing="1">
  <tr>
      <th width="10%" align="center">Fait ?
       <br />
         <button ng-click="life.orderfait='-fait'" ng-if="life.orderfait == '+fait'"/><i class="fa fa-remove"></i>
         <button ng-click="life.orderfait='+fait'" ng-if="life.orderfait == '-fait'"/><i class="fa fa-check"></i>
     </th>
      <th width="20%" align="center">Travail distibué le:
       <br />
         <button ng-click="life.order='+date'"/><i class="fa fa-arrow-down"></i></button>
         <button ng-click="life.order='-date'"/><i class="fa fa-arrow-up"></i></button>
     </th>
      <th width="20%" align="center">Matière:
       <br />
        <input  type="text" value="" ng-model="life.keyword"/> </th>

      <th width="30%" align="left">À faire pour le:
        <br />
          <button ng-click="life.order='+datefin'"/><i class="fa fa-arrow-down"></i></button>
          <button ng-click="life.order='-datefin'"/><i class="fa fa-arrow-up"></i></button>
     </th>
      <th with="10%" align="center"> Supprimer ? </th>
    </tr>

    <tr ng-repeat="item in liste | filter: life.keyword | orderBy:life.order | orderBy:life.orderfait">
       <td> <input type="checkbox" class="button" name="choix1" value="1" ng-model="item.fait"></td>
       <td ng-class="{'fait':item.fait}">{{moment(item.date).format('ddd DD MMM YYYY')}}</td>
       <td ng-class="{'fait':item.fait}">{{item.matiere}}</td>
       <td ng-class="{'fait':item.fait}">{{moment(item.datefin).format('ddd DD MMM YYYY')}}
       <td><input id="supp" ng-if="item.fait" ng-click="supprimer(item)" type="button" value="Supprimer" class="btn btn-default">
      </td>
    </tr>
    <tr my-enter="ajouter()">
      <th width="10%" align="center"></th>
      <th width="20%" align="center"><input ng-model="date" type="date" id="rowText"></th>
      <th width="20%" align="center"><input ng-model="matiere" type="text" id="rowText1"></th>
      <th width="30%" align="left"><input ng-model="datefin" type="date" id="rowText2">
        <input ng-click="ajouter()" ng-show="date!=undefined && matiere!=undefined && datefin!=undefined" type="button" value="Ajouter" class="btn1" />
      </th>
      <th with="10%" align="center"></th>
    </tr>
  </table>

<br><br>
<a href="" ng-click="clear()" type="button" class="btn2"  >vider</a>
